APP_ENV=development
APP_VERSION=0.1.0
DATABASE_URL=
OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
LIVE_MARKET_DATA_API_KEY=
OTC_MARKET_DATA_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SECRET_KEY=
